<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="first test">
        <classes>
            <class name="testPages.TestGuest"/>
            <class name="testPages.TestRegisteration"/>
            <class name="testPages.TestRegisterationResult"/>
        </classes>
    </test>
</suite>